*{
    margin: 0;
    padding: 0;
}
p{
    color: navy;
    margin-top: 70px;
    margin-left: 50px;
}
#img1{
    position: absolute;
    left: 55px;
    top: 400px;
    width: 314px;
    height: 160px;
}
#p1 {
    color: black;
    font-size: 100px;
}
